@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #efefed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #efefed;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sigmar), sans-serif;
  width: 100vw;
  min-width: 100%;
}

html, body {
  width: 100% !important;
  min-width: 100vw !important;
  overflow-x: hidden;
}
